body {
  margin: 0;
}
.blue-overlay {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(4, 24, 59, 0.2);
  mix-blend-mode: multiply;
  z-index: 1000;
}